
body{
    background-color: rgb(172, 171, 171);
    
}

.sheet-text{
    margin: 0.4rem auto;
    padding:2.5rem;
    
    background-color: #fff;
    
    width: 620px;
    height: 600px;
    
    box-shadow: rgb(134, 134, 134) 1px 1px 1px;
    
}
.menu li{ 
    margin:0.4rem;
}